{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'alumnos/img/Logo.png' %}">
    <!-- esta parte es de los estilos de bootstrap y las librerías CSS del sitio -->
    <title>LBWUS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'alumnos/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'alumnos/style/estilo.css' %}">
    <script src="{% static 'alumnos/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    
</head>
<body>
    <!-- esta parte es de la barra de navegación principal -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">
                <img src="{% static 'alumnos/img/Logo.png' %}" alt="Logo" width="50px" class="d-inline-block align-text-top">
                LBWUS
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LBWUS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'menu' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'planes_adm' %}">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'crud' %}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'nosotros_adm' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'contactos_adm' %}">Contactos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.is_authenticated %}
                                    {{ user.username }}
                                {% else %}
                                    Login
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                {% if user.is_authenticated %}
                                    <!-- esta parte es del botón para salir de la sesión con un form oculto por seguridad -->
                                    <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar sesión</a>
                                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                                        {% csrf_token %}
                                    </form>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                                {% endif %}
                            </div>
                        </li>                        

            <!-- esta parte es del botoncito flotante para cambiar entre modo luz y oscuro -->
            <button onclick="toggleTheme()" id="theme-toggler" class="btn btn-outline-light ms-2">
                <i class="bi bi-sun"></i>  <!-- esta parte es del dibujito del sol que sale por defecto en modo claro -->
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- esta parte es de cerrar la barra de navegación -->
    <!-- esta parte es del carrusel con fotos grandes que van rotando solas -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'alumnos/img/prueba112.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Bienvenido a LBWUS</h5>
                    <p> Apoyado por un equipo de profesionales experimentados, <br> aquí es donde tus desafíos se
                        transforman en victorias.<br><br>
                    </p>
                    <a href="{% url 'servicios' %}" class="btn btn-warning mt3"> Conocer más </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'alumnos/img/prueba013.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Conoce nuestros planes</h5>
                    <p> Si estás interesado no esperes más ve el plan que más <br> se adecue a tus necesidades <br><br>
                    </p>
                    <a href="{% url 'planes' %}" class="btn btn-warning mt3"> Conocer más </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'alumnos/img/prueba17.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>¿Quienes somos?</h5>
                    <p> Estás interesado en conocernos un poco más <br><br> </p>
                    <a href="{% url 'nosotros' %}" class="btn btn-warning mt3"> Pincha aquí </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- esta parte es de cerrar el carrusel -->
    <!-- esta parte es de la sección con imagen y texto informativo sobre nosotros -->

    <section id="about" class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="{% static 'alumnos/img/about.jpg' %}" alt="img" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <h2>Learn better with us</h2>
                    <p> En LBWUS nos preocupamos por ti, te contamos que tenemos más de 10.000 profesionales
                        especialidados
                        en todo el territorio nacional. Recuerda que nuestra pagina te contacta con aquellos
                        profesionales
                        que se encuentran más cerca de ti. ¡No sufras más! </p>
                    <a href="{% url 'nosotros' %}" class="btn btn-warning"> Saber más</a>
                </div>
            </div>
        </div>
    </section>
    <!-- esta parte es del texto sobre nosotros con una foto al lado -->

    <!-- esta parte es de la sección de servicios que ofrecemos -->
    <section id="services" class="services section-padding">
        <div class="container">
            <!-- esta parte es de las cajitas de los planes que ofrecemos -->
            <div class="row">
                <div class="col-12 text-center pb-5">
                    <h2 class="text-uppercase font-weight-bold">Nuestros Servicios</h2>
                    <p class="text-secondary">Descubre las características únicas de nuestros planes de estudio y
                        encuentra la opción perfecta para ti.</p>
                </div>
            </div>
            <!-- esta parte es de la fila donde se meten las tarjetas -->
            <div class="row">
                <!-- esta parte es de la tarjeta de servicio del Plan Básico -->
                <div class="col-12 col-md-4">
                    <div class="card text-white bg-dark text-center pb-2">
                        <div class="card-body">
                            <i class="bi bi-star-fill"></i>
                            <h3 class="card-title">Plan Básico</h3>
                            <p class="lead">Conéctate con educadores destacados y explora una enseñanza básica renovada.
                                Aprovecha la flexibilidad de clases virtuales o presenciales y empodera tu aprendizaje
                                desde la comodidad de tu hogar.<br><br></p>
                        </div>
                    </div>
                </div>
                <!-- esta parte es de la tarjeta de servicio del Plan Medio con el simulador -->
                <div class="col-12 col-md-4">
                    <div class="card text-white bg-dark text-center pb-2">
                        <div class="card-body">
                            <i class="bi bi-star-fill"></i>
                            <h3 class="card-title">Plan Medio</h3>
                            <p class="lead">Avanza hacia tus metas con nuestro plan intermedio, diseñado para adaptarse
                                y responder a tus inquietudes educativas. Sea cual sea tu horario, nuestra metodología
                                flexible se alinea con tu ritmo de vida.</p>
                                <button class="btn btn-warning text-dark" onclick="location.href='{% url 'simulador' %}';">Simula aquí</button>
                        </div>
                    </div>
                </div>
                <!-- esta parte es de la tarjeta de servicio del Plan Superior -->
                <div class="col-12 col-md-4">
                    <div class="card text-white bg-dark text-center pb-2">
                        <div class="card-body">
                            <i class="bi bi-star-fill"></i>
                            <h3 class="card-title">Plan Superior</h3>
                            <p class="lead">Alcanza la excelencia con nuestro plan superior, impartido por profesionales
                                de renombre. Un puente hacia el éxito académico con clases online y presenciales que
                                enriquecerán tu futuro profesional.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- esta parte es de cerrar el bloque de tarjetas de servicios -->
    <section class="horario">
        <div class="horario-info container">
            <h2>Horario</h2>
            <div class="horario-txt">
                <h4>Dirección</h4>
                <p>Los Florentinos 2012</p>
                <p>Los Florentinos 2012</p>
            </div>
            <div class="horario-txt">
                <h4>Horario</h4>
                <p>Lunes a Viernes: 9am - 8pm</p>
                <p>Sábado y Domingo: 11am - 7pm</p>
            </div>
            <div class="horario-txt">
                <h4>Teléfono</h4>
                <p>+56988888888</p>
                <p>+56955555555</p>
            </div>
            <div class="socials">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social"><i the="fab fa-twitter"></i></a>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <section>
        </div>
        </div>
        </div>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212998.2997250683!2d-70.62983129999999!3d-33.47278795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5410425af2f%3A0x8475d53c400f0931!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1716188053838!5m2!1ses-419!2scl"
            width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <!-- esta parte es de el footer con info de contacto y enlaces útiles -->
    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li class="infocontact">
                            Dirección: Pacifico Norte 123 <br> Vernon Rockville, CT 06066
                        </li>
                        <li>Teléfono: 123-456-7890</li>
                        <li>Email: teachers@lbwus.cl</li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </span>
                        <span class="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                        <span class="youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                        <span class="pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </span>
                        <span class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </div>
                </div>
                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul class="infofo">
                        <li><a href="#">Acerca de Nosotros</a></li>
                        <li><a href="#">Estado de tus contrataciones</a></li>
                        <li><a href="#">Políticas de Privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="my-account">
                    <p class="title-footer">Mi cuenta</p>
                    <ul class="mi-cuenta">
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Historial de órdenes</a></li>
                        <li><a href="#">Lista de deseos</a></li>
                        <li><a href="#">Boletín</a></li>
                        <li><a href="#">Reembolsos</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <p class="title-footer">Boletín informativo</p>
                    <div class="content">
                        <p>
                            Suscríbete a nuestros boletines ahora y mantente al día con nuevas colecciones y ofertas exclusivas.
                        </p>
                        <input type="email" placeholder="Ingresa el correo aquí...">
                        <button>Suscríbete</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>
                    Desarrollando enseñanza para el mundo &copy; 2024
                </p>
            </div>
        </div>
    <!-- esta parte es de donde termina el pie de página de la web -->
    </footer>


    <!-- esta parte es de cerrar el footer -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'java/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>
</html>
