<!-- esta parte es de la pantalla donde el usuario elige si se registra como profesor, alumno o tutor -->
{% extends 'alumnos/base.html' %}
{% load static %}

{% block title %}LBWUS | Opciones de Usuario{% endblock %}

{% block extra_css %}
<link rel='stylesheet' href='{% static 'alumnos/css/opciones_user.css' %}'>
{% endblock %}

{% block content %}
<section class='user-options-section'>
    <h1 class='user-options-title'>Selecciona tu tipo de cuenta</h1>
    <p class='user-options-subtitle'>Recuerda indicar quién se está registrando</p>
    
    <img src='{% static 'alumnos/img/nosotros.jpeg' %}' alt='Nosotros' class='user-options-image'>
    
    <div class='options-btn-group'>
        <a href='{% url 'regis_prof' %}' class='options-btn'>Profesor</a>
        <a href='{% url 'regis_alum' %}' class='options-btn'>Alumno</a>
        <a href='{% url 'regis_tutor' %}' class='options-btn'>Administrador</a>
    </div>
</section>
{% endblock %}
